documents/flight.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="data">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="flight" maxOccurs="unbounded" minOccurs="0">
          <xs:complexType>
            <xs:sequence>
              <xs:element type="xs:string" name="id"/>
              <xs:element type="xs:string" name="code"/>
              <xs:element type="xs:string" name="number"/>
              <xs:element type="xs:string" name="from"/>
              <xs:element type="xs:string" name="time_from"/>
              <xs:element type="xs:string" name="to"/>
              <xs:element type="xs:string" name="time_to"/>
              <xs:element type="xs:string" name="status"/>
              <xs:element type="xs:string" name="delay"/>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>